html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Microsoft Yahei", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  display: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Microsoft Yahei";
}
input {
  font-family: "Microsoft Yahei";
}
.font_red {
  color: red;
}
.font_green {
  color: green;
}
.font_blue {
  color: blue;
}
@keyframes login {
  0% {
    content: '.';
  }
  25% {
    content: '..';
  }
  50% {
    content: '...';
  }
  75% {
    content: '....';
  }
  100% {
    content: '.';
  }
}
html,
body {
  height: 100%;
}
.modal {
  height: 100%;
  position: relative;
}
.modal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -250px;
  width: 500px;
  height: 350px;
  background: #EBF2F9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.modal .content .login_banner {
  background: url("../resource/login.jpg");
  text-align: center;
}
.modal .content .login_banner .login_title {
  line-height: 215px;
  font-size: 300%;
  color: #fff;
  text-shadow: 5px 5px 5px #000000;
}
.modal .content .login_banner .login_info {
  color: #eee;
}
.modal .content .login_banner .login_info span::after {
  content: '';
  -webkit-animation: login 2s linear infinite;
  -o-animation: login 2s linear infinite;
  animation: login 2s linear infinite;
}
.modal .content .login_form {
  padding-top: 25px;
  text-align: center;
}
.modal .content .login_form .login_input {
  width: 50%;
  height: 20px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
}
.modal .content .login_form .login_btn {
  display: block;
  width: 50%;
  background: #09A3DC;
  border-radius: 5px;
  height: 35px;
  border: none;
  color: #fff;
  margin: 0 auto;
}
.modal .content .login_form .login_btn:hover {
  background: #3CC3F5;
}
.stage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.stage .container {
  background: #fff;
  width: 80%;
  margin: 10px auto;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.stage .container .header {
  border-bottom: 1px solid #cccccc;
  padding: 5px;
}
.stage .container .header img {
  vertical-align: top;
}
.stage .container .header .title {
  display: inline-block;
  font-size: 30px;
  line-height: 80px;
}
.stage .container .main {
  width: 100%;
  height: 500px;
}
.stage .container .main .section {
  width: 70%;
  height: 100%;
  float: left;
  border-right: 1px solid #cccccc;
}
.stage .container .main .section .article {
  width: 100%;
  height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #cccccc;
}
.stage .container .main .section .article div {
  padding: 5px;
}
.stage .container .main .section .article div h4 {
  margin-bottom: 5px;
}
.stage .container .main .section .article div h4 small {
  margin-left: 1em;
  font-size: 0.8em;
}
.stage .container .main .section .article div p {
  text-indent: 1em;
  padding-left: 1em;
}
.stage .container .main .section .article div p img {
  max-width: 99%;
}
.stage .container .main .section .content_box {
  width: 100%;
  height: 30%;
}
.stage .container .main .section .content_box .controls {
  height: 30px;
  position: relative;
}
.stage .container .main .section .content_box .controls input {
  margin-left: 5px;
}
.stage .container .main .section .content_box .controls #img {
  width: 42px;
  position: relative;
  left: -53px;
  top: -1px;
  opacity: 0;
}
.stage .container .main .section .content_box .controls .emoji_box {
  display: none;
  width: 500px;
  bottom: 35px;
  position: absolute;
  background-color: #aaa;
  box-shadow: 0 0 10px #555;
}
.stage .container .main .section .content_box .controls .emoji_box img {
  margin: 2px;
  padding: 2px;
  width: 25px;
  height: 25px;
}
.stage .container .main .section .content_box .controls .emoji_box img:hover {
  background: blue;
}
.stage .container .main .section .content_box textarea {
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
  border: none;
  height: 85px;
}
.stage .container .main .section .content_box .controls2 {
  overflow: hidden;
}
.stage .container .main .section .content_box .controls2 input {
  float: right;
  margin-right: 10px;
  padding: 2px 20px;
  color: #fff;
  border: 1px solid #357ebd;
  border-radius: 4px;
  background-color: #428bca;
  cursor: pointer;
}
.stage .container .main .section .content_box .controls2 input:hover {
  background-color: #3071a9;
  border-color: #285e8e;
}
.stage .container .main .aside {
  width: 30%;
  height: 100%;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
}
.stage .container .main .aside .count {
  margin: 5px 10px;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}
.stage .container .main .aside .users {
  padding: 0 15%;
}
.stage .container .main .aside .users li {
  margin-top: 5px;
}
