//样式重置
@import "normalize";
@import "_animation";

@border_color: #ccc;
//颜色
.font_red {
  color: red;
}

.font_green {
  color: green;
}

.font_blue {
  color: blue;
}

.font_purple {
  color: purple;
}

.font_darkcyan {
  color: darkcyan;
}

.font_cornflowerblue {
  color: cornflowerblue;
}

//图标

.sprite {
  background-image: url(../resource/icons/icon_list_gray.png);
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
  transition: all 0.3s linear;
  &:hover {
    background-image: url(../resource/icons/icon_list_red.png);
  }
  &.active {
    background-image: url(../resource/icons/icon_list_black.png);
  }
}

.sprite-ban {
  background-position: -5px -5px;
}

.sprite-bold {
  background-position: -35px -5px;
}

.sprite-clear {
  background-position: -65px -5px;
}

.sprite-color {
  background-position: -5px -35px;
}

.sprite-emoji {
  background-position: -35px -36px;
}

.sprite-family {
  background-position: -65px -35px;
}

.sprite-github {
  width: 30px;
  height: 30px;
  background-position: -5px -65px;
}

.sprite-italic {
  background-position: -45px -66px;
}

.sprite-left {
  background-position: -75px -65px;
}

.sprite-pic {
  background-position: -95px -5px;
}

.sprite-right {
  background-position: -95px -35px;
}

.sprite-shake {
  background-position: -105px -65px;
}

.sprite-size {
  background-position: -45px -95px;
}

.sprite-underline {
  background-position: -75px -95px;
}

//浮动
.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.clearfix {

}

//自定滚动条样式
.scroll_bar {
  // 设置垂直滚动条的宽度和水平滚动条的高度
  &::-webkit-scrollbar {
    width: 18px;
    height: 18px;
  }
  // 设置滚动条的滑轨
  &::-webkit-scrollbar-track {
    background-color: #888;
  }
  // 滑块
  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 5px;
  }
  // 滑轨两头的监听按钮
  &::-webkit-scrollbar-button {
    background-color: #444;
  }
  // 横向滚动条和纵向滚动条相交处尖角
  &::-webkit-scrollbar-corner {
    //background-color: black;
  }
}

//文字阴影,可以指定多组阴影
//@right_left1 右边阴影为正数 左边负数
//@bottom_top1 下边阴影为正数 上边负数
//@text  阴影大小
//@text_color 阴影颜色
.textshadow(@right_left1:5px,@bottom_top1:5px,@text :5px,@tetx_color:#000) {
  text-shadow: @arguments;
}

.shake {
  .tada();
  .animation(tada 1s ease-in-out);
}

.newMsg {
  .lightSpeedInLeft();
  .animation(lightSpeedInLeft 0.5s ease-in-out);
}

.bgFadeInLeft {
  .fadeInLeft();
  .animation(fadeInLeft 1s ease-in-out);
}

.bgFadeInRight {
  .fadeInRight();
  .animation(fadeInRight 1s ease-in-out);
}

@keyframes login {
  0% {
    content: '.';
  }
  25% {
    content: '..';
  }
  50% {
    content: '...';
  }
  75% {
    content: '....';
  }
  100% {
    content: '.';
  }
}

html, body {
  height: 100%;
  background: url("../resource/stage_bg/fullbody.png") 100% 100%;
}

//模态框
.modal {
  height: 100%;
  position: relative;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -250px;
    width: 500px;
    height: 350px;
    background: #EBF2F9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    .login_banner {
      background: url("../resource/login.jpg");
      text-align: center;
      .login_title {
        line-height: 215px;
        font-size: 300%;
        color: #fff;
        .textshadow();
      }
      .login_info {
        color: #eee;
        span::after {
          content: '';
          .animation(login 2s linear infinite);
        }
      }
    }
    .login_form {
      padding-top: 25px;
      text-align: center;
      .login_input {
        width: 50%;
        height: 20px;
        background: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid @border_color;
        margin-bottom: 15px;
      }
      .login_btn {
        display: block;
        width: 50%;
        background: #09A3DC;
        border-radius: 5px;
        height: 35px;
        border: none;
        color: #fff;
        margin: 0 auto;
        &:hover {
          background: #3CC3F5;
        }
      }
    }
  }
}

//聊天窗口
.stage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../resource/stage_bg/1.jpg');
  background-size: 100% 100%;
  transition: all 0.4s linear;
  overflow: auto;
  .container {
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: auto;
    min-width: 900px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;
    min-height: 626px;
    .header {
      padding: 5px;
      background: linear-gradient(#555, #222);
      img {
        vertical-align: top;
        border-radius: 5px;
      }
      .title {
        display: inline-block;
        font-size: 30px;
        line-height: 80px;
        color: #fff;
        small {
          text-shadow: 0 0 6px snow, 0 0 6px snow, 0 0 6px snow, 0 0 3px snow;
        }
      }
      .bgChange_box {
        float: right;
        line-height: 75px;
        height: 80px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        width: 200px;
        overflow: hidden;
        &:hover {
          border-color: rgba(255, 255, 255, 0.8);
          span.forward {
            border-right-color: rgba(255, 255, 255, 0.8);
          }
        }
        span {
          float: left;
          width: 50%;
          cursor: pointer;
          height: 100%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          &.forward {
            border-right: 1px solid #888;
            background-image: url(../resource/icons/left.png);
            &:hover {
              background-image: url(../resource/icons/left_active.png);
            }
          }
          &.backward {
            background-image: url(../resource/icons/right.png);
            &:hover {
              background-image: url(../resource/icons/right_active.png);
            }
          }
        }
      }
    }
    .main {
      width: 100%;
      height: calc(~"100% - 90px");
      .section {
        width: 70%;
        height: 100%;
        float: left;
        .article {
          width: 100%;
          height: 78%;
          overflow-x: hidden;
          overflow-y: auto;
          .scroll_bar;
          div {
            padding: 5px;
            &.myMsg {
              text-align: right;
            }
            &.sysMsg {
              text-align: center;
              font-size: 50%;
              width: 40%;
              color: #666;
              margin: 5px auto;
              background: linear-gradient(#cf9, #9c3);
              box-shadow: 1px 1px 5px #000;
              border-radius: 15px;
            }
            h4 {
              margin-bottom: 5px;
              text-shadow: 1px 1px 6px #fff;
              small {
                margin-left: 1em;
                font-size: 0.8em;
              }
            }
            &:not(.sysMsg) p {
              display: inline-block;
              background: linear-gradient(#fff, #e1e1e1);
              max-width: 50%;
              border-radius: 5px;
              padding: 10px 15px;
              text-align: left;
              line-height: 22px;
              img {
                max-width: 99%;
              }
            }
          }

        }
        .content_box {
          width: 100%;
          height: 22%;
          background: linear-gradient(#555, #222);
          position: relative;
          .controls {
            height: 30px;
            line-height: 35px;
            position: relative;
            #img {
              display: none;
            }
            //表情选择框
            .emoji_box {
              display: none;
              width: 500px;
              bottom: 35px;
              position: absolute;
              background-color: #aaa;
              box-shadow: 0 0 10px #555;
              img {
                margin: 2px;
                padding: 2px;
                width: 25px;
                height: 25px;
                &:hover {
                  background: blue;
                }
              }
            }
            //选择框
            .font_select_box {
              position: absolute;
              bottom: 30px;
              border: 1px solid #666;
              background: rgba(88, 88, 88, 0.6);
              display: none;
              li {
                color: rgba(255, 255, 255, 0.4);
                border-top: 1px solid #666;
                padding: 0 5px;
                cursor: pointer;
                height: 36px;
                &:hover {
                  color: rgba(255, 255, 255, 0.7);
                  background: rgba(88, 88, 88, 0.8);
                }
                &.active {
                  color: #fff;
                }
                &:first-child {
                  border-top: none;
                }
              }
            }
            //字号选择框
            .font_size_box {
              .font_select_box;
              left: 0;
            }
            //字体选择框
            .font_family_box {
              .font_select_box;
              left: 10px;
            }
            //颜色选择框
            .font_color_box {
              .font_select_box;
              left: 50px;
              li {
                width: 78px;
                &:hover {
                  border: 2px solid rgba(0, 0, 0, 0.5);
                }
                &.active {
                  border: 2px solid #000;
                }
              }
            }
          }
          textarea {
            font-size: 16px;
            width: 97%;
            padding: 5px 10px;
            margin: 0 auto 3px;
            border-radius: 5px;
            border: none;
            height: calc(~"100% - 61px");
            background: #f9f9f9;
            display: block;
          }
          .controls2 {
            overflow: hidden;
            position: absolute;
            bottom: 3px;
            width: 100%;
            input {
              float: right;
              margin-right: 10px;
              padding: 2px 20px;
              color: #fff;
              border: 1px solid #044062;
              border-radius: 4px;
              background: -webkit-linear-gradient(top, #5f9cc5, #396b9e);
              cursor: pointer;
              &:hover {
                background-color: #3071a9;
                border-color: #285e8e;
              }
            }
          }
        }
      }
      .aside {
        width: 30%;
        height: 100%;
        float: left;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff;
        .count {
          margin: 5px 10px 0;
          padding: 10px 0;
          text-align: center;
          border-bottom: 1px solid @border_color;
        }
        .users {
          li {
            cursor: pointer;
            padding: 0 15%;
            height: 30px;
            line-height: 30px;
            background: linear-gradient(#eee, #ddd);
            border-top: 1px solid #888;
            overflow: hidden;
            &:first-child {
              border-top: none;
            }
          }
        }
      }
    }
  }
}
